# Interact with vndbinder device
allow hal_camera_default vndbinder_device:chr_file { read write open ioctl };

# Interact with camera socket
allow hal_camera_default camera_socket:sock_file write;
allow hal_camera_default camera:unix_dgram_socket sendto;

# Interact with graphics mapper hwservice
allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager find;

# Interact with mpdecision
allow hal_camera_default mpdecision_socket:sock_file write;
allow hal_camera_default mpdecision:unix_dgram_socket sendto;

# Interact with sysfs
allow hal_camera_default sysfs:file { read open getattr };

# Interact with vendor files
allow hal_camera_default vendor_file:file execmod;

vndbinder_use(hal_camera_default)

allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager find;

# libmmjpeg.so still needs text relocation support
allow hal_camera_default vendor_file:file execmod;

r_dir_file(hal_camera_default, sysfs_soc)

unix_socket_send(hal_camera_default, camera, camera)

